* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clicked {
  display: none;
  padding: 20px 0px;
  position: fixed;
  background: white;
  top: 54px;
  width: 100%;
  height: 100vh;
  z-index: 99;
}
.clicked.show {
  display: flex;
}

.contwo {
  padding: 14px 15px;
  padding-bottom: 15px;
  margin: 15px;
  border-top: 1px solid #ccc;
}
.contss {
  font-family: nsize;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 14px;
  padding: 13px 0 8px;
}
.conts {
  display: flex;
  padding: 20px 30px 8px;

  color: #004c97;
  font-family: bsize;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 15px;
}
.contss svg {
  margin-right: 2px;
}
.contss {
  display: flex;
  align-items: center;
}
.we {
  display: none;
}
#search {
  display: none;
}
#dishs {
  display: none;
}
#chillyimgtwo {
  display: none;
}
@font-face {
  font-family: blsize;
  src: url(./font/Graphik-Black-Cy-Web.woff2);
}
@font-face {
  font-family: bsize;
  src: url(./font/Graphik-Bold-Cy-Web.woff2);
}
@font-face {
  font-family: msize;
  src: url(./f/CircularXXWeb-Medium.woff2);
}
@font-face {
  font-family: sesize;
  src: url(./font/Graphik-Semibold-Cy-Web.woff2);
}
@font-face {
  font-family: rsize;
  src: url(./font/Graphik-Regular-Cy-Web.woff2);
}
@font-face {
  font-family: tsize;
  src: url(./font/Graphik-Regular-Cy-Web.woff2);
}
@font-face {
  font-family: lsize;
  src: url(./font/Graphik-Super-Cy-Web.woff2);
}
@font-face {
  font-family: nsize;
  src: url(./font/GraphikCondensed-Semibold-Web.woff2);
}
@font-face {
  font-family: fsize;
  src: url(./font/Graphik-Bold-Cy-Web.woff2);
}
@font-face {
  font-family: "Circular";
  src: url("fonts/Circular.woff2") format("woff2"),
    url("fonts/Circular.woff") format("woff");
  font-style: normal;
  font-style: normal;
}
.mobheader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.imgh1 {
  position: absolute;
  top: 24.3%;
  z-index: 99;
  width: 100%;
  text-align: center;
}
.imgh1 h2 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 38px;
  text-align: center;
  font-family: sesize;
  color: white;
}
.yellowbar {
  color: inherit;
  background: linear-gradient(120deg, #ffcc3d 0, #ffcc3d 100%);
  background-repeat: no-repeat;
  background-size: 97% 40%;
  background-position: 0 90%;
  text-decoration: none;
}
header {
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  height: 58px;
  padding: 0px 15px 0px 20px;
}
.header_logo {
  margin-left: 0;
  width: 100%;
  text-align: center;

  padding-right: 13%;
}
.header-right {
}
.header_logo svg {
  height: 25px;
  fill: white;
  width: 109px;
  margin-top: 12px;
}
.search_icon {
  list-style-type: none;
  padding: 21px 15px 15px 0;
}
.bars {
  display: block;
  position: absolute;
  height: 30px;
  width: 24px;
  top: 16px;
  right: 26px;
}

/* this is while no acitve */
.bars span {
  display: block;
  position: absolute;
  height: 4px;
  background-color: white;
  width: 30px;
}
.bars span::after {
  position: absolute;

  content: "";
  display: block;

  height: 4px;
  background-color: white;
  width: 30px;
  top: 10px;
}

.bars span::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background-color: white;
  width: 30px;
  top: 20px;
}

/* 
this after active work 
 */
.bars.active {
  top: 28px;
}
.bars.active span {                         
  transform: rotate(45deg);
}                      
.bars.active span::after {          
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}                                     
.bars.active span::before {      
  display: none;  
}                
/*  */

.hs {
  height: 500px;               
}
.subroller {
  background-color: white;
  padding: 30px 0px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.roller {
  width: max-content;
  animation: scroll-left 45s linear infinite;
  display: flex;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}
.roller1 {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.roller2 {
  display: flex;
  align-items: center;
  color: rgb(0, 76, 151);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.33px;
  white-space: nowrap;
  font-family: bsize;
}
.roller3 {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: 20px;
  color: #004c97;
  font-family: rsize;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}
.roller3 svg {
  transform: translateY(4px);
  margin-left: 10px;
}
.roller4 {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: 60px;
  justify-content: center;
  font-family: bsize;
  color: rgb(0, 76, 151);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.33px;
  margin-right: 20px;
}
.scroll {
  position: relative;
  display: flex;
  overflow-x: auto;
}
.scrolll {
  position: absolute;
  left: 12px;
  top: 17.8%;
}
.scrolll img {
  width: 60px;
  height: 60px;
  background-size: 100% !important;
}
.scrollr {
  position: absolute;
  right: 25px;
  top: 17.8%;
}
.scrollr img { 
  width: 60px;
  height: 60px;
  background-size: 100% !important;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scrollimg {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.scrollimg img {
  width: 100%;
  height: 400px;
}
.scrollleft {
  display: none;
}
.scrollleft img {
  width: 100%;
}
.scrollright {
  display: none;
}
.scrolls {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  box-sizing: border-box;
}
.scrolltext {
  padding: 70px 30px;
  padding-top: 69px;
  background-color: rgb(49, 56, 89);
  color: white;
}
.scrolltext h4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.41px;
  line-height: 22px;
  font-family: bsize;
  margin-bottom: 10px;
}

.scrolltext h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.39px;
  line-height: 42px;
  margin-bottom: 15px;
  font-family: bsize;
}
.scrolltext p {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 15px;
  font-family: rsize;
}
.scrolltext a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.52px;
  line-height: 28px;
  font-family: bsize;
}
.scrolltext a svg {
  margin-top: 2px;
}
.chillyimg {
  width: 100%;
  height: 100%;
}
.chilly {
  position: relative;
  margin-top: 140px;
  height: 100%;
  width: 100%;
}
.dish {
  position: absolute;
  top: 28.8%;
  margin: 20px 0px;
  padding: 0px 20px;
}
.redchilly {
  position: absolute;
  width: 201px;
  top: -100px;
  left: 0px;
  z-index: 1;
}
.dishh1 {
  color: #fff;
  font-family: bsize;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.52px;
  line-height: 28px;
  margin-bottom: 10px;
}
.dishh2 {
  background-color: #fff;
  display: unset;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  font-family: bsize;
  margin-bottom: 10px;
}
.dishh3 {
  width: 206px;
  color: #fff;
  font-family: bsize;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.52px;
  line-height: 28px;
  margin-top: 10px;
}
.dishh3 svg {
  fill: white;
}
.build {
  margin-top: 44px;
  position: relative;
}
.buildimg {
  width: 100%;
}
.buidtxt {
  position: absolute;
  top: 15px;
  padding: 0px 20px;
}
.inclusion {
  margin-top: 20px;
}
.inclusionimg {
  position: relative;
}
.inclusionimg h2 {
  position: absolute;
  bottom: 109px;
  background-color: #fff;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.33px;
  color: #000;
  font-family: bsize;
}
.inclusionimg img {
  width: 100%;
}
.inclusionimg p {
  font-size: 16px;
  font-family: rsize;
  letter-spacing: 0.46px;
  line-height: 28px;
  margin-bottom: 12px;
  margin-top: 6px;
}
.inp {
  font-family: bsize;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.43px;
  line-height: 18px;
}
.spacer {
  margin-top: 67px;
}
.spacers {
  margin-top: 40px;
}
.hungry {
  position: relative;
}
.hungry p {
  margin-left: -16px;
  color: #eeefef !important;
  font-family: lsize;
  font-size: 60px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
  line-height: 100px !important;
}
.bullet {
  position: absolute;
  background-color: #004c97;
  top: 60px;
  left: 20px;
  height: 6px;
  width: 24px;
  margin-right: 8px;
}
.brand p {
  position: absolute;
  left: 62px;
  top: 47px;
  font-family: bsize;
  font-size: 24px !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
  line-height: 32px !important;
  color: black !important;
}
.product {
  position: relative;
}
.theproductsa {
  display: flex;
}
.pimg {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
.p1 {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  object-fit: cover;
  padding: 0 10px 10px 10px;
}
.pimg.a1 {
  flex: 0 0 25%;
  max-width: 25%;
}
.pimg.b1 {
  flex: 0 0 25%;
  max-width: 25%;
}

.p1.a1 {
  height: 93.75%;
  margin: 0 !important;
  object-position: right;
  padding: 0 10px 10px 0;
}
.p1.b1 {
  margin: 0 !important;
  height: 93.75%;
  object-position: left;
  padding: 0 0 10px 10px;
}
.everyday {
  text-align: center;
  background-color: white;
  position: absolute;
  top: -5px;
  transform: translateY(50%);
  margin: 0 20px;
  padding: 5px 30px;
  margin: 0px 20px;
}
.snack svg {
  transform: translateY(3px);
}
.thestart {
  margin-bottom: 70px;
}
.everyday h5 {
  font-family: sesize;
  font-weight: 600;
  letter-spacing: 0.52px;
  font-size: 18px;
  color: rgb(114, 117, 121);
  margin: 31px 0px 19px 0px;
}
.everyday h2 {
  font-family: bsize;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.39px;
  font-size: 28px;
  margin-bottom: 20px;
}
.everyday p {
  font-family: rsize;
  font-size: 16px;
  letter-spacing: 0.46px;
  line-height: 18px;
  margin-bottom: 16px;
}
.ps span {
  font-family: sesize;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.41px;
  font-size: 14px;
}
.ps {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  padding-bottom: 40px;
}
.spa {
  height: 30px;
}
.eat {
  background-color: rgb(192, 85, 53);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cloud img {
  width: 50%;
}
.eat h2 {
  margin-top: -4px;
  color: white;
  font-family: bsize;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 42px;
  margin-bottom: 83px;
}
.star {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 29.3px;
}
.stars svg {
  width: 32px;
  height: 30px;
}
.stars {
  margin-bottom: 13px;
}
.snack {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: bsize;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.52px;
  line-height: 28px;
}
.snack svg {
  margin-left: 9px;
}
.star p {
  font-family: rsize;
  font-size: 14px;
  letter-spacing: 0.41px;
  line-height: 22px;
  margin-bottom: 25px;
}
.line {
  width: 100px;
  height: 2px;
  background-color: #ffffff80;
}
.stars .sw {
  height: 43.2px;
  width: 43.2px;
}
#star1 {
  margin-bottom: 5px;
}
#star3 {
  margin-top: 13px;
  margin-bottom: 6px;
}
.chipsimg {
  transform: translateY(4px);
  width: 100%;
  padding: 0px 20px;
}
.chips {
  margin-top: 46px;
  padding: 0px 15px;
}
.pep {
  position: relative;
  padding: 40px 0 41px 20px;
  background-color: #004c97;
}
.topsocial img {
  height: 348px !important;
  width: 348px !important;
  object-fit: cover;
  margin-bottom: 16px;
}
.explore svg {
  transform: translateY(3px);
}
.topsocial {
  position: relative;
  overflow: hidden;
}
.topsocial svg {
  position: absolute;
  bottom: 14px;
  left: 5px;
}
.bottomsocial p {
  width: 363px;
  color: white;
  font-family: bsize;
  font-size: 16px;
  letter-spacing: 0.46px;
  line-height: 32px;
  display: block;
  text-align: left;
  height: 6em;
  overflow: hidden;
  margin-bottom: 24px;
}
.checkout {
  padding: 30px !important;
  margin-bottom: 50px;
}
.checkout h2 {
  margin-bottom: 25px;
  white-space: nowrap;
  font-family: bsize;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30px;
  margin: 0 0 25px 0;
  text-align: center;
}
.checkout img {
  padding-right: 19px;

  padding-top: 2px;
  position: absolute;

  background-repeat: no-repeat;
  width: 65px;
  height: 75px;
  background-size: 70%;
  top: 120px;
  left: 187px;
  transform: rotate(90deg);
}
.social {
  display: flex;
  overflow-x: auto;
}
.social::-webkit-scrollbar {
  display: none;
}
.smile img {
  width: 100%;
  height: 100%;
  max-height: 760px;
  display: block;
}
.work {
  min-height: 300px;
  padding: 50px 20px;
}
.works h5 {
  font-family: bsize;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 4px;
}
.works h2 {
  font-family: bsize;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 23px;
}
.works p {
  font-family: rsize;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.explore {
  font-family: bsize;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.3px;
}
.found {
  position: relative;
  display: block;
}
.found img {
  width: 100%;
  display: block;
}
.founds {
  position: absolute;
  top: 9px;
  padding: 0 20px;
}
.foundp {
  color: #fff;
  font-family: bsize;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.52px;
  line-height: 28px;
  margin-bottom: 10px;
}
.foundp2 {
  background-color: #fff;
  display: unset;
  color: #000;
  font-family: bsize;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.foundp3 {
  margin-top: 10px;
  color: white;
  font-family: bsize;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.52px;
  line-height: 28px;
}
.foundp3 svg {
  transform: translateY(2px);
}
.press svg {
  transform: translateY(1px);
}
.views img {
  display: block;
  width: 100%;
}
.yellow {
  background-color: #ffc107;
  min-height: 300px;
  padding: 50px 20px;
}
.trucks {
}
.truck {
  margin: 48px 0;
  padding: 0px 15px;
}
.truck img {
  width: 100%;
}
.truck h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: bsize;
}
.tsp {
  height: 20px;
}
.press {
  font-family: bsize;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.41px;
  line-height: 22px;
  color: #000;
}
.tsr {
  height: 18px;
}
footer {
  position: relative;
  background-color: #004c97;
  padding: 35px 0 40px 0;
  letter-spacing: 0.38px;
  line-height: 19px;
}
.container {
  padding: 0px 20px;
}
.topfoot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.toplog svg {
  fill: white;
  width: 109px;
  height: 30.25px;
}
.backtop {
  display: flex;
  align-items: center;
  font-family: sesize;
  color: white;
  letter-spacing: 0.38px;
  line-height: 1rem;
  transform: translatey(-2px);
  font-weight: 600;
  font-size: 12px;
}
.backtop svg {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  fill: white;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}
.backtop p {
  margin-right: 3px;
  margin-bottom: 4px;
}
.footerlinkone {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: rsize;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  margin-bottom: 25px;
}
.careers {
  margin-bottom: 29px;
}
.careers img {
  height: 10px;
  width: 10px;
}
.footer__social {
  height: 24px;
  width: 24px;
  fill: white;
  margin-right: 24px;
}
.footer__social path {
  fill: white;
}
.icon {
  margin-top: 89px;
  display: flex;
}
.co {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.co span {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 4px !important;
  color: white;
  font-size: 11px;
  line-height: 1rem;
  font-family: rsize;
  font-weight: 500;
}
.co1 {
  margin-right: 35px !important;
}
.links {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3px;
}
.linkp {
  margin-right: 20px;
  margin-bottom: 19px !important;
  color: white;
  font-size: 11px;
  line-height: 1rem;
  font-family: rsize;
  font-weight: 500;
}
.cookies {
  margin-right: 20px;
  transform: translateY(-11px);
  color: white;
  font-size: 11px;
  line-height: 1rem;
  font-family: rsize;
  font-weight: 500;
}
.linkp img {
  height: 7px;
  width: 7px;
}
.scrolltext a svg {
  transform: translateY(2px);
}
#pimgs {
  display: none;
}

@media (min-width: 375px) {
  .founds {
    top: auto;
    bottom: 20px;
  }
  .yellowbar {
    margin-right: 5px;
  }
  .spacers {
    margin-top: 33px;
  }
  .imgh1 h2 {
    width: 87%;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 42px;
  }
  .imgh1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dish {
    top: auto;
    bottom: 4px;
  }
  .dishh3 {
    white-space: nowrap;
  }
  .dishh3 svg {
    transform: translateY(2px);
  }
  #dishs {
    display: block;
    margin-bottom: 10px;
  }

  .buidtxt {
    top: auto;
    bottom: 24px;
  }
  .inp svg {
    transform: translateY(4px);
  }
  .mobheadertwo {
    display: none;
  }
}

@media (min-width: 768px) {
  .bars {
    top: 47px;
    left: 30px;
  }
  .header_logo {
    margin-left: 50px;
    padding-right: 0;
    width: 50%;
    text-align: right;
  }
  .header_logo svg {
    height: 36px;
    width: 130px;
    margin-left: 51px;
    margin-top: 25px;
  }
  header {
    flex-direction: row;
    height: 118px;
    padding: 0 15px 0 20px;
  }
  .mobheader {
    height: 800px;
  }
  .header-right {
    left: auto;
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
  }
  .header-right ul {
    display: flex;
  }
  .search_icon {
    display: flex;
    align-items: center;
    color: white;
    font-family: nsize;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
    padding: 41px 28px 15px 0;
  }

  .search_icon svg {
    margin-right: 7px;
    margin-top: 2px;
  }
  #search {
    display: flex;
    float: left;
    list-style: none;
    padding: 55px 28px 31px 0;
  }
  .hs {
    height: 800px;
  }
  .ms {
    height: 140px;
  }
  .scrolls {
    flex-direction: row;
  }
  .scrolltext {
    width: 100%;
    max-height: 624px;
  }
  .scrollimg img {
    height: 760px;
    margin-bottom: 0;
    object-fit: fill;
  }
  .scrollimg {
    height: 760px;
  }
  .dish {
    top: auto;
    left: 25%;
    text-align: center;
    width: 65%;
    bottom: 162px;
  }
  .dishh2 {
    background-color: #fff;
    color: #000;
    display: unset;
    font-family: bsize;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 58px;
  }
  .imgh1 h2 {
    width: 63%;
    font-family: bsize;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 58px;
    text-align: center;
    margin-bottom: 50px;
    display: inline-block;
  }
  .p1 {
    height: 88.75% !important;
    padding: 0 15px 15px 15px;
  }
  .p1.b1 {
    padding: 0 0 15px 15px;
  }
  .p1.a1 {
    padding: 0 15px 15px 0px;
  }

  .imgh1 {
    display: flex;
    justify-content: center;
    top: 37.7%;
  }
  .dishh3 {
    width: 100%;
  }
  .buidtxt {
    top: auto;
    bottom: 10px;
  }

  .thechilly {
    display: flex;
  }
  .chilly {
    width: 83.3334%;
    margin: 0 auto;
  }

  .redchilly {
    position: absolute;
    width: 24%;
    left: -10%;
  }
  .yellowbar {
    margin: 0;
  }
  .scrolltext h4 {
    margin-top: 1px;
    margin-bottom: 15px;
  }
  .scrolltext h2 {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -1px;
  }
  .scrolls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .scrolltext p {
    margin-bottom: 24px;
  }
  .chilly {
    display: flex;
    justify-content: center;
  }
  .dish {
    left: auto;
    bottom: 10px;
  }
  .dishh3 {
    color: #fff;

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.52px;
    line-height: 28px;
  }

  .spacex {
    margin-top: 48px;
  }
  .build {
    width: 83.3334%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #dishs {
    display: block;
    margin: 0;
    margin-bottom: 10px;
  }
  .buidtxt {
    text-align: center;
    width: 50%;
    padding: 0;
    bottom: 30px;
  }
  .inclusionimg {
    width: 83.3334%;
    margin: 0 auto;
  }
  .inclusion {
    margin-top: 74px;
  }
  .inclusionimg h2 {
    padding: 0 10px;
    line-height: 42px;
    bottom: 108px;
  }
  .inclusionimg p {
    margin-top: 11.5px;
    margin-bottom: 16px;
  }
  .spacer {
    margin-top: 77px;
  }
  #theproduct {
    display: none;
  }
  #pimgs {
    display: flex;
  }
  .spa {
    height: 45px;
  }
  .pimg.a1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .pimg.b1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .everyday {
    position: absolute;
    top: 47.2%;
    left: 51.3%;
    transform: translate(-50%, -50%);
    width: 525px;
    margin: 0px;
    padding: 23px 27px 18px 28px;
    min-height: 355px;
  }
  .everyday h5 {
    margin: 29px 2px 16px 0px;
  }
  .everyday h2 {
    margin-right: 2px;
  }
  .cloud {
    width: 100%;
  }
  .cloud img {
    width: 25%;
  }
  .thestart {
    display: flex;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 74px;
  }
  .eat h2 {
    color: #fff;

    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 58px;
    margin-bottom: 80px;
  }
  .line {
    display: none;
  }
  .star {
    flex: 0 0 33.3334%;
    max-width: 33.3334%;
    padding: 0 15px;
  }

  #starss {
    border-left: 3px solid #ffffff80;
    border-right: 3px solid #ffffff80;
  }
  .snack {
    white-space: nowrap;
  }
  .star p {
    margin-bottom: 18px;
  }
  .hungry p {
    font-family: lsize;
    margin-top: -4px;
    font-size: 180px !important;
    font-weight: 900 !important;
    letter-spacing: 0 !important;
    line-height: 200px !important;
    padding: 0 5px;
  }
  .brand p {
    left: 59px;
    top: 44px;
    white-space: nowrap;
    font-family: bsize;
    font-size: 32px !important;
    font-weight: 700 !important;
    letter-spacing: 0 !important;
    line-height: 40px !important;
  }
  .chips {
    padding: 0;
    margin-top: 80px;
  }
  .chipsimg {
    padding: 0 65px;
  }
  .brand {
    position: absolute;
    bottom: 120px;
    left: 60px;
    margin-right: 12px;
  }
  .bullet {
    height: 8px;
    width: 32px;
  }
  .wsimle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .work {
    max-width: 66.6667%;
    margin: auto !important  ;
    padding: 50px 0px;
    padding-top: 54px;
  }
  .explore {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.52px;
    line-height: 28px;
  }
  .works h5 {
    margin-bottom: 5px;
    margin-top: 3px;
  }
  .founds {
    left: 10%;
    flex: 0 0 50%;
    max-width: 50%;
    top: auto;
    bottom: 30px;
    padding: 0px;
  }
  .foundp {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.52px;
    line-height: 28px;
  }
  .foundp2 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 58px;
  }
  .theview {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
  }
  .yellows {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #ffc107;
  }
  .yellow {
    padding: 50px 0px;
    max-width: 66.6667% !important;
    margin: 0 auto !important;
  }
  .views {
    flex: 1;
  }
  .truck h5 {
    margin-bottom: 4x;
  }
  .everyday h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 31px;
  }
  .ps span {
    font-size: 18px;
    letter-spacing: 0.52px;
    line-height: 28px;
  }
  .everyday p {
    margin-right: 2px;
    font-size: 16px;
    letter-spacing: 0.46px;
    line-height: 32px;
  }
  .ps {
    margin-right: 2px;
  }
  #starss {
    transform: translateY(-4px);
  }
  #startssss {
    transform: translateY(-4px);
  }
  #hungry p {
    margin-left: 0px;
  }
  .bullet {
    top: 56px;
  }
  .pep {
    display: flex;
    padding: 120px 0 50px 0;
  }
  .social {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
    padding: 0 13px;
  }
  .topsocial img {
    height: 218px !important;
    width: 218px !important;
    margin-bottom: 11px;
  }
  .bottomsocial p {
    width: 230px;
    font-weight: 600;
    margin-bottom: 35px;
  }
  .checkout {
    padding: 50px 50px 0 85px !important;
  }
  .checkout h2 {
    text-align: left;
    white-space: wrap;
    font-size: 32px !important;
    font-weight: 700 !important;
    letter-spacing: 0 !important;
    line-height: 42px !important;
  }
  .checkout img {
    transform: rotate(0deg);
    transform: translate(78px, 127px);
  }
  .tsp {
    height: 19px;
  }
  .tsr {
    height: 16px;
  }
  .truck h5 {
    line-height: 28px;
    margin-bottom: 2px;
  }
  .press {
    line-height: 24px;
  }
  .thedon {
    margin-top: 63px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footerlinkone {
    display: flex;
    flex-direction: row;
    margin-bottom: 26px;
  }
  .careers {
    width: 50%;
    margin-bottom: 15px;
    margin-right: 23px;
  }
  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }

  footer {
    padding: 49px 0px 14px 0px;
  }
  .cos {
    display: flex;
    transform: translateY(-21px);
    justify-content: space-between;
  }
  .glob {
    width: 50%;
  }
  .links {
    transform: translate(3px, 6px);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }
  .co {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    align-content: flex-end;
  }

  .co span {
    white-space: nowrap;
    margin-bottom: 5px !important;
  }
  .icon {
    transform: translate(24px, -13px);
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  .linkp {
    white-space: nowrap;
    text-align: right;
    margin-right: 0px;
    letter-spacing: 0.46px;
  }
  .linkp img {
    margin-left: 2px;
  }
  .co1 {
    margin-right: 30px !important;
  }
  .co span {
    margin-right: 30px;
  }
  .cookies {
    transform: translateY(-6px);
    margin-right: 5px;
    text-align: right;
  }
  #footerlinkone {
    margin-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  .mobheader {
    display: none;
  }
  .mobheadertwo {
    display: block;
    height: 800px;
    width: 100%;
    object-fit: cover;
  }
  .hs {
    display: none;
  }
  header {
    top: 0;
  }
  .scrolltext {
    max-height: 100%;
  }
  .scrolltext h2 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 58px;
    text-align: left;
    margin-bottom: 20px;
  }
  .scrollimg img {
    object-fit: cover;
  }
  #chillyimgone {
    display: none;
  }
  #chillyimgtwo {
    display: block;
  }
  .dish {
    bottom: 40px;
  }
  .ms {
    height: 171px;
  }
  .redchilly {
    top: -150px;
  }
  .buidtxt {
    width: 60%;
    bottom: 60px;
  }
  .magic {
    width: 83.3334%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .spacer {
    display: none;
  }
  .inclusionimg {
    margin: 0;

    width: 100%;
  }
  #inclusionimgs {
    padding-left: 13px;
  }
  #inclusionimg {
    padding-right: 13px;
  }
  .works h5 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .work h5 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .works h2 {
    font-size: 3rem;
    line-height: 3.625rem;
  }
  .work {
    padding: 53px 0px;
    padding-top: 50px;
    padding-right: 37px;
  }
  .trucks {
    display: flex;
  }
  .truck h5 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 48px 45px 0px 45px;
  }
  footer {
    padding-top: 0px;
  }
}

@media (min-width: 1260px) {
  .bars {
    display: none;
  }
  .header_logo {
    width: 15%;
    margin-left: 0;
    text-align: left;
  }
  .header_logo svg {
    margin-left: 30px;
    margin-top: 26px;
  }
  .we {
    display: flex;
    padding-left: 40px;
  }

  .wes {
    display: inline-flex;
    align-items: flex-start;
    padding: 30px 5px;
    padding-top: 38px;
    padding-right: 12px;
    color: white;
    font-family: bsize;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 17px;
    border-bottom: 2px solid transparent;

    text-decoration: none;
  }
  .wes svg {
    transform: translate(-2px, -2px);
  }
  #investors {
    padding-left: 14px;
  }
  .wes span {
    padding-bottom: 1px;
    margin-bottom: 2px;
  }
  header {
    padding: 0;
  }
  #search {
    padding: 16px 24px 31px 0;
  }
  .search_icon {
    padding: 1px 23px 14px 4px;
  }
  .search_icon svg {
    margin-top: 0px;
  }
  .search_icon.seas {
    padding-right: 25px;
  }
  .search_icon.seas {
    padding-right: 25px;
  }
  .imgh1 {
    top: 39%;
  }
  .imgh1 h2 {
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 72px;
  }
  .everyday h2 {
    line-height: 42px;
  }
  .everyday h5 {
    font-weight: 700;
    font-family: blsize;
    margin: 48px 0px 45px 0px;
  }
  .every {
    background-color: white;
    position: absolute;
    top: 47.2%;
    left: 50.3%;
    transform: translate(-50%, -50%);
    padding: 5px 110px !important;
  }
  .everyday {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    padding: 0px;
    width: 410px;
  }
  .spa{
    height: 100px;
  }
  .everyday p {
    margin-bottom: 30px;
  }
  .stars svg {
    width: 50px;
    height: 46px;
  }
  .stars .sw {
    width: 67.5px;
    height: 67.5px;
  }
  .eat h2 {
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 72px;
  }
  .snack {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 42px;
  }
  .star p {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
  }
  .star {
    margin-bottom: 105px;
  }
  .chips {
    margin-top: 100px;

    display: flex;

    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .chipsimg {
    transform: translateX(50px);
    padding: 0px;
    width: 22.5%;
    height: 99%;
  }
  .checkout h2 {
    font-size: 50px !important;
    font-weight: 700 !important;
    letter-spacing: 0 !important;
    line-height: 70px !important;
  }
  .pep {
    padding: 116px 0 50px 0;
  }
  .topsocial img {
    height: 323px !important;
    width: 323px !important;
    margin-bottom: 15px;
  }
  .bottomsocial {
    width: 343px;
  }
  
  .bottomsocial p {
    width: 330px;
  }
  .checkout {
    padding: 103px 41px 0 132px !important;
  }
  .founds {
    bottom: 60px;
  }

  .container {
    padding: 48px 16px 0px 16px;
  }          
     .hello{
      color: black;
     }
}     
        
@media (min-width: 1440px) {
  .every{
    min-height: 50%;
  }
  .everyday{
    width: 699px;
    padding: 0px !important;  
  }
  .cloud img{
    width: 16.6667%;
  }
  .eat h2{
    margin-bottom: 133px;
  }         
    .social{
      padding: 70px;
      padding-left:182px;
    }
    .checkout img {
        transform: rotate(0deg);
        transform: translate(215px, 234px);
    }
    .container{               
      max-width: 1140px;                                        
    }     
    .lol{
      color: blue;
    }   
}       